@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

ul {
    list-style: none;
}

.active {
    color: #09a01d;
    text-decoration: underline;
    font-weight: bold;
}

body , html{
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    text-align: center;
}

.header-content h1{
    font-size: 6vmin;
    color: black;
}

.header-content .ctn{
    margin-right: 20px;
}

.line {
    width: 150px;
    height: 4px;
    background: #09a01d;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content p {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: black;
}

.ctn {
    padding: 8px 15px;
    background: #09a01d;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 35px;
    cursor: pointer;
    display: none;
}

/* Events */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #29294e;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
    align-items: center;
}

.kartu-tutor p {
    margin-top: 15px;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: justify;
    color: #364f6b;
    padding: 0px 10px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
    text-align: justify;
}

.events .ctn {
    margin-top: 30px;
}

.explore {
    width: 100%;
    height: 100vh;
    background-color: #87e294;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-kentang{
    width: 100%;
    height: 100vh;
    background-color: #87e294;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 6vmin;
    color: #29294e;

}

.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p {
    color: black;
    margin-top: 20px;
}

.explore-content p input{
    margin-left: 52px;
}

.explore-content .ctn{
    margin-top: 20px;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
    text-align: center;

}

/* Mobile Device */
@media only screen and (max-width:850px) {
    .header-content h1{
        font-size: 5vmin;
        color: black;
    }
    .menu-btn{
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;

    }
    /* events */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /* explore */
    .explore-content {
        width: 100%;
    }
    .explore-content {
        width: 60%;
        padding: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .explore-content h1 {
        text-align: center;
        font-size: 6vmin;
    }
    
    .explore-content .line{
        margin-bottom: 50px;
    }
    
    .explore-content p {
        text-align: center;
        color: black;
        margin-top: 20px;
    }
    
    .explore-content p input{
        margin-left: 76px;
    }
    
    .explore-content .ctn{
        margin-top: 20px;
    }

    .footer {
        padding: 10px;
    }
}

/* animations */
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #09a01d;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color: #09a01d;
    cursor: pointer;
}
li a:hover {
    color: #09a01d;
    cursor: pointer;
}
